<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.ljb.server.user.dao.UserSignDao">

  <insert id="insert" parameterType="com.qfedu.ljb.entity.UserSign" useGeneratedKeys="true" keyProperty="id">
    insert into usersign (uid, score,extrascore,days,createtime)
    values (#{uid}, #{score},#{extrascore},#{days},now())
  </insert>
  <select id="selectByUid" resultType="com.qfedu.ljb.entity.UserSign">
    select * from usersign where uid=#{uid} order by createtime desc
  </select>
  <select id="selectByUidLast" resultType="com.qfedu.ljb.entity.UserSign">
    select * from usersign where uid=#{uid} order by createtime desc limit 1
  </select>
  <select id="selectByUidLast" resultType="com.qfedu.ljb.entity.UserSign">
    select * from usersign where uid=#{uid} and to_days(now())-to_days(createtime) &lt;= #{days};
  </select>
</mapper>