<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.ljb.pay.db.dao.TOrderpayMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qfedu.ljb.pay.db.entity.TOrderpay">
        <id column="id" property="id" />
        <result column="orderno" property="orderno" />
        <result column="project" property="project" />
        <result column="money" property="money" />
        <result column="flag" property="flag" />
        <result column="ctime" property="ctime" />
        <result column="modtime" property="modtime" />
    </resultMap>

</mapper>
